<!DOCTYPE html>
<html lang="en">
<head>
    <title>CinePhile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/resultstyle.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
</head>
<body>
    <nav class = "navbar navbar-default">
    
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <div class="header">
                    <i class="fas fa-film"></i>CinePhile
                    </div>
                </a>
            </div>
       
    </nav>

    <div class="container">
      <div id="movies" class="row"></div>
    </div>
    <div id="data" hidden><%= JSON.stringify(movieDetails) %></div>
    
        
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src = "/script.js"></script>
         
</body>
</html>



