<!DOCTYPE html>
<html lang="en">
<head>
    <title>CinePhile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/homestyle.css">
</head>
<body>
    <div class="header">
        <i class="fas fa-film"></i>CinePhile</div>

    <div class="container">
        <p class="search">Search Movie </p>
        <form action="/results" method="GET">
            <input type="text" placeholder="search movie!" name="search" required>
            <button><i class="fas fa-search"></i></button>
        </form>
    </div>
</body>
</html>






